{
  "openapi": "3.1.0",
  "info": {
    "title": "Kaneo API",
    "version": "1.0.0",
    "description": "Kaneo Project Management API - Manage projects, tasks, labels, and more"
  },
  "servers": [
    {
      "url": "https://cloud.kaneo.app/api",
      "description": "Kaneo API Server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key or session token (Bearer)"
      }
    },
    "schemas": {
      "InstanceStatus": {
        "type": "object",
        "properties": {
          "hasUsers": {
            "type": "boolean"
          },
          "hasAdmin": {
            "type": "boolean"
          }
        },
        "required": [
          "hasUsers",
          "hasAdmin"
        ]
      },
      "PublicBoardPage": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Board"
          },
          {
            "type": "object",
            "properties": {
              "pagination": {
                "$ref": "#/components/schemas/BoardPagination"
              }
            },
            "required": [
              "pagination"
            ]
          }
        ]
      },
      "BoardColumn": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The column slug, same as `slug`."
          },
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "icon": {
            "type": [
              "string",
              "null"
            ]
          },
          "isFinal": {
            "type": "boolean"
          },
          "position": {
            "type": "number"
          },
          "tasks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BoardTask"
            }
          }
        },
        "required": [
          "id",
          "slug",
          "name",
          "icon",
          "isFinal",
          "tasks"
        ]
      },
      "BoardTask": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "number": {
            "type": [
              "number",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "descriptionDeferred": {
            "type": "boolean",
            "description": "True when the list omits a large description; load the task detail or description pages to read it. Do not replace stored text with this null summary."
          },
          "status": {
            "type": "string"
          },
          "priority": {
            "type": "string",
            "description": "One of: no-priority, low, medium, high, urgent."
          },
          "startDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "dueDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "position": {
            "type": [
              "number",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "userId": {
            "type": [
              "string",
              "null"
            ]
          },
          "assigneeName": {
            "type": [
              "string",
              "null"
            ]
          },
          "assigneeId": {
            "type": [
              "string",
              "null"
            ]
          },
          "assigneeImage": {
            "type": [
              "string",
              "null"
            ]
          },
          "projectId": {
            "type": "string"
          },
          "subtaskCounts": {
            "type": "object",
            "properties": {
              "completed": {
                "type": "integer",
                "minimum": 0
              },
              "total": {
                "type": "integer",
                "minimum": 0
              }
            },
            "required": [
              "completed",
              "total"
            ],
            "description": "Direct subtasks in the workspace; completed means a final column in the child project. Public boards count only children in public projects."
          },
          "labels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskLabel"
            }
          },
          "externalLinks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskExternalLink"
            }
          }
        },
        "required": [
          "id",
          "title",
          "number",
          "description",
          "status",
          "priority",
          "startDate",
          "dueDate",
          "position",
          "createdAt",
          "userId",
          "assigneeName",
          "assigneeId",
          "assigneeImage",
          "projectId",
          "subtaskCounts",
          "labels",
          "externalLinks"
        ]
      },
      "TaskLabel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "color"
        ]
      },
      "TaskExternalLink": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "taskId": {
            "type": "string"
          },
          "integrationId": {
            "type": [
              "string",
              "null"
            ]
          },
          "resourceType": {
            "type": "string"
          },
          "externalId": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "title": {
            "type": [
              "string",
              "null"
            ]
          },
          "metadata": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {},
            "description": "Provider-specific payload, already parsed from the stored JSON string."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "taskId",
          "integrationId",
          "resourceType",
          "externalId",
          "url",
          "title",
          "metadata",
          "createdAt",
          "updatedAt"
        ]
      },
      "BoardPagination": {
        "type": "object",
        "properties": {
          "total": {
            "type": "number"
          },
          "page": {
            "type": "number"
          },
          "pageSize": {
            "type": "number"
          },
          "totalPages": {
            "type": "number"
          },
          "relatedPage": {
            "type": "number"
          },
          "relatedPageSize": {
            "type": "number"
          },
          "relatedTotalPages": {
            "type": "number"
          },
          "relatedRevision": {
            "type": "string",
            "description": "Public board labels and external links revision for this task page. Restart pagination if it changes during related-page continuations."
          },
          "revision": {
            "type": "string",
            "description": "Public board content, membership and ordering revision, including related records and visible subtask progress. Restart pagination if it changes between task or related pages."
          }
        },
        "required": [
          "total",
          "page",
          "pageSize",
          "totalPages",
          "relatedPage",
          "relatedPageSize",
          "relatedTotalPages"
        ],
        "description": "Always paginated: 50 tasks by default, at most 100 per page. Continue through totalPages to retrieve all tasks. For each task page, follow relatedPage through relatedTotalPages to retrieve all labels, external links and columns (100 related rows per kind per request, plus up to 100 columns needed to represent the tasks)."
      },
      "Board": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "icon": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "descriptionDeferred": {
            "type": "boolean",
            "description": "True when a project description above 64 KiB is omitted; use project detail or public project description pages for full text."
          },
          "isPublic": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "workspaceId": {
            "type": "string"
          },
          "backgroundVersion": {
            "type": [
              "string",
              "null"
            ]
          },
          "columns": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BoardColumn"
            }
          },
          "archivedTasks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BoardTask"
            }
          },
          "plannedTasks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BoardTask"
            }
          }
        },
        "required": [
          "id",
          "name",
          "slug",
          "icon",
          "description",
          "isPublic",
          "workspaceId",
          "backgroundVersion",
          "columns",
          "archivedTasks",
          "plannedTasks"
        ]
      },
      "TaskDescriptionPage": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "nextOffset": {
            "type": [
              "number",
              "null"
            ]
          }
        },
        "required": [
          "content",
          "version",
          "nextOffset"
        ]
      },
      "Config": {
        "type": "object",
        "properties": {
          "isCloud": {
            "type": "boolean"
          },
          "disableRegistration": {
            "type": "boolean"
          },
          "disablePasswordRegistration": {
            "type": "boolean"
          },
          "disableEmailOtpSignIn": {
            "type": "boolean"
          },
          "disableWorkspaceCreation": {
            "type": "boolean"
          },
          "isDemoMode": {
            "type": "boolean"
          },
          "hasSmtp": {
            "type": "boolean"
          },
          "hasGithubSignIn": {
            "type": "boolean"
          },
          "hasGoogleSignIn": {
            "type": "boolean"
          },
          "hasDiscordSignIn": {
            "type": "boolean"
          },
          "hasCustomOAuth": {
            "type": "boolean"
          },
          "hasGuestAccess": {
            "type": "boolean"
          },
          "disableLoginForm": {
            "type": "boolean"
          },
          "customOAuthAutoLogin": {
            "type": "boolean"
          },
          "customOAuthLogoutUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "billingEnabled": {
            "type": "boolean"
          }
        },
        "required": [
          "isCloud",
          "disableRegistration",
          "disablePasswordRegistration",
          "disableEmailOtpSignIn",
          "disableWorkspaceCreation",
          "isDemoMode",
          "hasSmtp",
          "hasGithubSignIn",
          "hasGoogleSignIn",
          "hasDiscordSignIn",
          "hasCustomOAuth",
          "hasGuestAccess",
          "disableLoginForm",
          "customOAuthAutoLogin",
          "customOAuthLogoutUrl",
          "billingEnabled"
        ]
      },
      "McpClientRegistration": {
        "type": "object",
        "properties": {
          "client_id": {
            "type": "string"
          },
          "client_id_issued_at": {
            "type": "number"
          },
          "redirect_uris": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "client_name": {
            "type": "string"
          },
          "token_endpoint_auth_method": {
            "type": "string",
            "enum": [
              "none"
            ]
          },
          "grant_types": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "authorization_code"
              ]
            }
          },
          "response_types": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "code"
              ]
            }
          }
        },
        "required": [
          "client_id",
          "client_id_issued_at",
          "redirect_uris",
          "token_endpoint_auth_method",
          "grant_types",
          "response_types"
        ]
      },
      "OAuthError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "error_description": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "McpAuthorizationRequest": {
        "type": "object",
        "properties": {
          "client_name": {
            "type": "string"
          },
          "redirect_uri": {
            "type": "string"
          }
        },
        "required": [
          "client_name",
          "redirect_uri"
        ]
      },
      "McpAuthorizationDecision": {
        "type": "object",
        "properties": {
          "redirect": {
            "type": "string",
            "description": "Where to send the browser next: back to the client with a code on approval, or with an error on denial."
          }
        },
        "required": [
          "redirect"
        ]
      },
      "OAuthIdToken": {
        "type": "object",
        "properties": {
          "idToken": {
            "type": [
              "string",
              "null"
            ],
            "description": "The stored id_token for the user's `custom` OAuth account, or null when they have no such account."
          }
        },
        "required": [
          "idToken"
        ]
      },
      "MovedProject": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Project"
          },
          {
            "type": "object",
            "properties": {
              "unassignedTaskCount": {
                "type": "number"
              }
            },
            "required": [
              "unassignedTaskCount"
            ]
          }
        ]
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "workspaceId": {
            "type": "string"
          },
          "backgroundVersion": {
            "type": [
              "string",
              "null"
            ]
          },
          "slug": {
            "type": "string",
            "description": "Short prefix used in task identifiers, e.g. KAN-12."
          },
          "icon": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "isPublic": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "When true the project's board is readable without signing in, via /api/public-project/{id}."
          },
          "isTemplate": {
            "type": "boolean",
            "description": "When true the project is a reusable template, omitted from ordinary project lists."
          },
          "parentProjectId": {
            "type": [
              "string",
              "null"
            ],
            "description": "The parent project's id when this is a subproject. Subprojects nest one level only and share the parent's workspace. A restricted member may see a parent id they cannot open."
          },
          "status": {
            "type": "string",
            "enum": [
              "in_corso",
              "in_attesa_cliente",
              "in_pausa",
              "chiuso"
            ],
            "description": "Manual project state: in_corso (in progress), in_attesa_cliente (waiting on the client), in_pausa (paused), chiuso (closed)."
          },
          "archivedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Non-null once archived; archived projects are hidden by default."
          },
          "position": {
            "type": "number",
            "description": "Sidebar order, ascending."
          },
          "lastTaskNumber": {
            "type": "number",
            "description": "Highest task number issued in this project; the next task gets this plus one."
          }
        },
        "required": [
          "id",
          "workspaceId",
          "backgroundVersion",
          "slug",
          "icon",
          "name",
          "description",
          "createdAt",
          "isPublic",
          "isTemplate",
          "parentProjectId",
          "status",
          "archivedAt",
          "position",
          "lastTaskNumber"
        ]
      },
      "ProjectListItem": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Project"
          },
          {
            "type": "object",
            "properties": {
              "statistics": {
                "$ref": "#/components/schemas/ProjectStatistics"
              },
              "archivedTasks": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BoardTask"
                },
                "description": "Always empty."
              },
              "plannedTasks": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BoardTask"
                },
                "description": "Always empty."
              },
              "columns": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BoardColumn"
                },
                "description": "Always empty."
              }
            },
            "required": [
              "statistics",
              "archivedTasks",
              "plannedTasks",
              "columns"
            ]
          }
        ]
      },
      "ProjectStatistics": {
        "type": "object",
        "properties": {
          "completionPercentage": {
            "type": "number"
          },
          "totalTasks": {
            "type": "number"
          },
          "dueDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "The soonest due date among the project's open tasks."
          },
          "overdueTasks": {
            "type": "number",
            "description": "Open tasks more than a day past their due date. This project only, subprojects excluded."
          },
          "health": {
            "type": "string",
            "enum": [
              "not_started",
              "on_track",
              "at_risk",
              "late",
              "complete"
            ],
            "description": "Computed indicator: not_started (no tasks), complete (no open tasks), late (a quarter or more of the open tasks are overdue), at_risk (some overdue, or work due within 7 days with under half done), on_track."
          }
        },
        "required": [
          "completionPercentage",
          "totalTasks",
          "dueDate",
          "overdueTasks",
          "health"
        ]
      },
      "ProjectTemplateList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Project"
        }
      },
      "SubprojectList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ProjectListItem"
        }
      },
      "ProjectDashboard": {
        "type": "object",
        "properties": {
          "project": {
            "$ref": "#/components/schemas/Project"
          },
          "parent": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "icon": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "id",
              "name",
              "icon"
            ],
            "description": "The parent project, when this is a subproject the caller can open."
          },
          "summary": {
            "$ref": "#/components/schemas/ProjectMetrics"
          },
          "own": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ProjectMetrics"
              },
              {
                "description": "This project alone, subprojects excluded."
              }
            ]
          },
          "subprojects": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "slug": {
                  "type": "string"
                },
                "icon": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "in_corso",
                    "in_attesa_cliente",
                    "in_pausa",
                    "chiuso"
                  ],
                  "description": "Manual project state: in_corso (in progress), in_attesa_cliente (waiting on the client), in_pausa (paused), chiuso (closed)."
                },
                "metrics": {
                  "$ref": "#/components/schemas/ProjectMetrics"
                }
              },
              "required": [
                "id",
                "name",
                "slug",
                "icon",
                "status",
                "metrics"
              ]
            }
          }
        },
        "required": [
          "project",
          "parent",
          "summary",
          "own",
          "subprojects"
        ]
      },
      "ProjectMetrics": {
        "type": "object",
        "properties": {
          "totalTasks": {
            "type": "number"
          },
          "doneTasks": {
            "type": "number"
          },
          "remainingTasks": {
            "type": "number"
          },
          "progress": {
            "type": "number",
            "description": "Percent done, 0 to 100."
          },
          "overdueTasks": {
            "type": "number"
          },
          "dueSoonTasks": {
            "type": "number",
            "description": "Open tasks due within the next 7 days."
          },
          "nextDueDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "The soonest due date among open tasks."
          },
          "trackedSeconds": {
            "type": "number",
            "description": "Sum of the finished time entries on the project's tasks, in seconds. Running timers count once stopped."
          },
          "health": {
            "type": "string",
            "enum": [
              "not_started",
              "on_track",
              "at_risk",
              "late",
              "complete"
            ],
            "description": "Computed indicator: not_started (no tasks), complete (no open tasks), late (a quarter or more of the open tasks are overdue), at_risk (some overdue, or work due within 7 days with under half done), on_track."
          }
        },
        "required": [
          "totalTasks",
          "doneTasks",
          "remainingTasks",
          "progress",
          "overdueTasks",
          "dueSoonTasks",
          "nextDueDate",
          "trackedSeconds",
          "health"
        ],
        "description": "This project plus every subproject the caller can open. Equals own for a project without subprojects."
      },
      "ProjectBackgroundUpload": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "uploadUrl": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": [
          "key",
          "uploadUrl",
          "version",
          "headers"
        ]
      },
      "ProjectBackgroundFinalize": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          }
        },
        "required": [
          "url"
        ]
      },
      "CalendarFeed": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "token": {
            "type": "string"
          },
          "labelIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "timeZone": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "projectId",
          "token",
          "labelIds",
          "timeZone",
          "createdAt"
        ]
      },
      "TaskDescriptionMatches": {
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "ids",
          "nextCursor"
        ]
      },
      "AssignedTasks": {
        "type": "object",
        "properties": {
          "tasks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AssignedTask"
            }
          },
          "total": {
            "type": "number",
            "description": "All open tasks assigned to the caller, including any beyond the first 100 returned."
          }
        },
        "required": [
          "tasks",
          "total"
        ]
      },
      "AssignedTask": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "number": {
            "type": [
              "number",
              "null"
            ]
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "The slug of the column the task sits in."
          },
          "statusName": {
            "type": [
              "string",
              "null"
            ],
            "description": "The column's display name. Null for tasks outside a column, such as planned ones."
          },
          "statusIcon": {
            "type": [
              "string",
              "null"
            ]
          },
          "priority": {
            "type": "string",
            "description": "One of: no-priority, low, medium, high, urgent."
          },
          "dueDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "projectName": {
            "type": "string"
          },
          "projectSlug": {
            "type": "string"
          },
          "projectIcon": {
            "type": [
              "string",
              "null"
            ]
          },
          "labels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskLabel"
            }
          }
        },
        "required": [
          "id",
          "projectId",
          "number",
          "title",
          "status",
          "statusName",
          "statusIcon",
          "priority",
          "dueDate",
          "projectName",
          "projectSlug",
          "projectIcon",
          "labels"
        ]
      },
      "BoardResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Board"
          },
          "pagination": {
            "$ref": "#/components/schemas/BoardPagination"
          }
        },
        "required": [
          "data",
          "pagination"
        ]
      },
      "BulkTaskResult": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "updatedCount": {
            "type": "number"
          }
        },
        "required": [
          "success",
          "updatedCount"
        ]
      },
      "TaskImageUpload": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Object key to send back to the finalize route."
          },
          "uploadUrl": {
            "type": "string",
            "description": "Presigned URL to PUT the image bytes to."
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Headers that must accompany the upload request, including Content-Type."
          }
        },
        "required": [
          "key",
          "uploadUrl",
          "headers"
        ]
      },
      "TaskImageAsset": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "description": "Where the stored image can be read back from."
          }
        },
        "required": [
          "id",
          "url"
        ]
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "position": {
            "type": [
              "number",
              "null"
            ],
            "description": "Order within its column, ascending."
          },
          "number": {
            "type": [
              "number",
              "null"
            ],
            "description": "Per-project counter shown as {projectSlug}-{number}."
          },
          "userId": {
            "type": [
              "string",
              "null"
            ],
            "description": "The assignee, if any."
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "descriptionDeferred": {
            "type": "boolean",
            "description": "True when the list omits a large description; load the task detail or description pages to read it. Do not replace stored text with this null summary."
          },
          "status": {
            "type": "string",
            "description": "The slug of the column the task sits in."
          },
          "priority": {
            "type": "string",
            "description": "One of: no-priority, low, medium, high, urgent."
          },
          "startDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "dueDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "customFields": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "fieldId": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              },
              "required": [
                "fieldId",
                "value"
              ]
            }
          }
        },
        "required": [
          "id",
          "projectId",
          "position",
          "number",
          "userId",
          "title",
          "description",
          "status",
          "priority",
          "startDate",
          "dueDate",
          "createdAt"
        ]
      },
      "TaskByTicketId": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TaskWithAssignee"
          },
          {
            "type": "object",
            "properties": {
              "workspaceId": {
                "type": "string",
                "description": "The workspace that owns the task's project."
              }
            },
            "required": [
              "workspaceId"
            ]
          }
        ]
      },
      "TaskWithAssignee": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Task"
          },
          {
            "type": "object",
            "properties": {
              "workspaceId": {
                "type": "string",
                "description": "The workspace currently owning the task's project. Included in the detail view; omitted from the compact board view."
              },
              "columnId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "The referenced workflow column; null for virtual statuses and legacy tasks without a column reference."
              },
              "subtaskCounts": {
                "type": "object",
                "properties": {
                  "completed": {
                    "type": "number"
                  },
                  "total": {
                    "type": "number"
                  }
                },
                "required": [
                  "completed",
                  "total"
                ]
              },
              "parentSubtaskCounts": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "taskId": {
                      "type": "string"
                    },
                    "completed": {
                      "type": "number"
                    },
                    "total": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "taskId",
                    "completed",
                    "total"
                  ]
                }
              },
              "assigneeName": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "assigneeId": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "columnId",
              "assigneeName",
              "assigneeId"
            ]
          }
        ]
      },
      "MoveTaskResult": {
        "type": "object",
        "properties": {
          "task": {
            "$ref": "#/components/schemas/Task"
          },
          "sourceProjectId": {
            "type": "string"
          },
          "destinationProjectId": {
            "type": "string"
          }
        },
        "required": [
          "task",
          "sourceProjectId",
          "destinationProjectId"
        ]
      },
      "TaskExport": {
        "type": "object",
        "properties": {
          "project": {
            "$ref": "#/components/schemas/TaskExportProject"
          },
          "tasks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExportedTask"
            }
          }
        },
        "required": [
          "project",
          "tasks"
        ]
      },
      "TaskExportProject": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "exportedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "name",
          "slug",
          "description",
          "exportedAt"
        ]
      },
      "ExportedTask": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "priority": {
            "type": "string"
          },
          "dueDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "startDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "userId": {
            "type": [
              "string",
              "null"
            ]
          },
          "labels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExportedTaskLabel"
            },
            "description": "Label names and colors, without their ids."
          }
        },
        "required": [
          "title",
          "description",
          "status",
          "priority",
          "dueDate",
          "startDate",
          "userId",
          "labels"
        ]
      },
      "ExportedTaskLabel": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "color"
        ]
      },
      "TaskImportResult": {
        "type": "object",
        "properties": {
          "results": {
            "$ref": "#/components/schemas/TaskImportSummary"
          }
        },
        "required": [
          "results"
        ]
      },
      "TaskImportSummary": {
        "type": "object",
        "properties": {
          "total": {
            "type": "number"
          },
          "successful": {
            "type": "number"
          },
          "failed": {
            "type": "number"
          },
          "tasks": {
            "type": "array",
            "items": {},
            "description": "Per-task outcome, each carrying a success flag."
          }
        },
        "required": [
          "total",
          "successful",
          "failed",
          "tasks"
        ]
      },
      "Column": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "description": "Stable identifier derived from the name; tasks store this as their status."
          },
          "position": {
            "type": "number",
            "description": "Board order, ascending. Columns are always returned sorted by it."
          },
          "icon": {
            "type": [
              "string",
              "null"
            ]
          },
          "color": {
            "type": [
              "string",
              "null"
            ]
          },
          "isFinal": {
            "type": "boolean",
            "description": "Marks the column as a done state, which stops overdue reminders for tasks in it."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "projectId",
          "name",
          "slug",
          "position",
          "icon",
          "color",
          "isFinal",
          "createdAt",
          "updatedAt"
        ]
      },
      "WorkspaceActivity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "One of: comment, task, create, status_changed, priority_changed, assignee_changed, unassigned, due_date_changed, title_changed, description_changed."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "eventData": {
            "description": "Type-specific payload. For status_changed, oldStatus/newStatus are slugs and oldStatusName/newStatusName carry current configured column names when available."
          },
          "excerpt": {
            "type": [
              "string",
              "null"
            ],
            "description": "Plain-text preview of the stored content, at most 240 characters: the comment body, or the description older system events carry instead of eventData."
          },
          "userId": {
            "type": [
              "string",
              "null"
            ]
          },
          "userName": {
            "type": [
              "string",
              "null"
            ]
          },
          "userImage": {
            "type": [
              "string",
              "null"
            ]
          },
          "externalUserName": {
            "type": [
              "string",
              "null"
            ]
          },
          "externalUserAvatar": {
            "type": [
              "string",
              "null"
            ]
          },
          "taskId": {
            "type": "string"
          },
          "taskTitle": {
            "type": "string"
          },
          "taskNumber": {
            "type": [
              "number",
              "null"
            ]
          },
          "projectId": {
            "type": "string"
          },
          "projectSlug": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "type",
          "createdAt",
          "excerpt",
          "userId",
          "userName",
          "userImage",
          "externalUserName",
          "externalUserAvatar",
          "taskId",
          "taskTitle",
          "taskNumber",
          "projectId",
          "projectSlug"
        ]
      },
      "Activity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "taskId": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "One of: comment, task, create, status_changed, priority_changed, assignee_changed, unassigned, due_date_changed, title_changed, description_changed."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "userId": {
            "type": [
              "string",
              "null"
            ]
          },
          "content": {
            "type": [
              "string",
              "null"
            ]
          },
          "eventData": {
            "description": "Type-specific payload, e.g. { oldStatus, newStatus } for status_changed. Null for plain comments."
          },
          "externalUserName": {
            "type": [
              "string",
              "null"
            ],
            "description": "Set when the activity was imported from another tool."
          },
          "externalUserAvatar": {
            "type": [
              "string",
              "null"
            ]
          },
          "externalSource": {
            "type": [
              "string",
              "null"
            ],
            "description": "The tool it was imported from, e.g. planka, trello, jira."
          },
          "externalUrl": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "taskId",
          "type",
          "createdAt",
          "updatedAt",
          "userId",
          "content",
          "externalUserName",
          "externalUserAvatar",
          "externalSource",
          "externalUrl"
        ]
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "taskId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "user": {
            "$ref": "#/components/schemas/CommentAuthor"
          }
        },
        "required": [
          "id",
          "taskId",
          "userId",
          "content",
          "createdAt",
          "updatedAt",
          "user"
        ]
      },
      "CommentAuthor": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "image": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "name",
          "image"
        ]
      },
      "TimeEntryWithUser": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TimeEntry"
          },
          {
            "type": "object",
            "properties": {
              "userName": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "userName"
            ]
          }
        ]
      },
      "TimeEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "taskId": {
            "type": "string"
          },
          "userId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Null once the user who logged the time has been removed."
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Null while the timer is still running."
          },
          "duration": {
            "type": [
              "number",
              "null"
            ],
            "description": "Elapsed seconds, filled in once the entry has an endTime."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "taskId",
          "userId",
          "description",
          "startTime",
          "endTime",
          "duration",
          "createdAt",
          "updatedAt"
        ]
      },
      "Label": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "deletionStartedAt": {
            "type": "string",
            "format": "date-time"
          },
          "taskId": {
            "type": [
              "string",
              "null"
            ]
          },
          "workspaceId": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "color",
          "createdAt",
          "updatedAt",
          "taskId",
          "workspaceId"
        ]
      },
      "PendingLabelDeletion": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Label"
          },
          {
            "type": "object",
            "properties": {
              "pendingDeletion": {
                "type": "boolean",
                "enum": [
                  true
                ]
              }
            },
            "required": [
              "pendingDeletion"
            ]
          }
        ]
      },
      "Notification": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "title": {
            "type": [
              "string",
              "null"
            ]
          },
          "content": {
            "type": [
              "string",
              "null"
            ],
            "description": "Free-text body. Null for generated notifications, whose text the client renders from type and eventData."
          },
          "type": {
            "type": "string",
            "description": "One of: info, task_created, workspace_created, task_status_changed, task_assignee_changed, time_entry_created, due_date_reminder, task_overdue, task_mention, task_comment."
          },
          "eventData": {
            "description": "Type-specific payload, e.g. { taskTitle, oldStatus, newStatus, projectId, workspaceId }."
          },
          "isRead": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "resourceId": {
            "type": [
              "string",
              "null"
            ],
            "description": "The id of the task or workspace the notification points at."
          },
          "resourceType": {
            "type": [
              "string",
              "null"
            ],
            "description": "`task` or `workspace`."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "userId",
          "title",
          "content",
          "type",
          "isRead",
          "resourceId",
          "resourceType",
          "createdAt",
          "updatedAt"
        ]
      },
      "NotificationBulkResult": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          }
        },
        "required": [
          "success"
        ]
      },
      "NotificationPreferences": {
        "type": "object",
        "properties": {
          "emailAddress": {
            "type": [
              "string",
              "null"
            ]
          },
          "emailEnabled": {
            "type": "boolean"
          },
          "ntfyEnabled": {
            "type": "boolean"
          },
          "ntfyConfigured": {
            "type": "boolean"
          },
          "ntfyServerUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "ntfyTopic": {
            "type": [
              "string",
              "null"
            ]
          },
          "ntfyTokenConfigured": {
            "type": "boolean"
          },
          "maskedNtfyToken": {
            "type": [
              "string",
              "null"
            ]
          },
          "gotifyEnabled": {
            "type": "boolean"
          },
          "gotifyConfigured": {
            "type": "boolean"
          },
          "gotifyServerUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "gotifyTokenConfigured": {
            "type": "boolean"
          },
          "maskedGotifyToken": {
            "type": [
              "string",
              "null"
            ]
          },
          "webhookEnabled": {
            "type": "boolean"
          },
          "webhookConfigured": {
            "type": "boolean"
          },
          "webhookUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "webhookSecretConfigured": {
            "type": "boolean"
          },
          "maskedWebhookSecret": {
            "type": [
              "string",
              "null"
            ]
          },
          "taskAssignmentEnabled": {
            "type": "boolean"
          },
          "taskCommentEnabled": {
            "type": "boolean"
          },
          "taskStatusChangeEnabled": {
            "type": "boolean"
          },
          "dueDateReminderEnabled": {
            "type": "boolean"
          },
          "dueDateReminderLeadTimeMinutes": {
            "type": "number",
            "description": "How long before a due date the reminder fires, in minutes."
          },
          "workspaces": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NotificationPreferenceWorkspaceRule"
            },
            "description": "Per-workspace overrides. A workspace with no rule follows the global settings."
          },
          "createdAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "updatedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "required": [
          "emailAddress",
          "emailEnabled",
          "ntfyEnabled",
          "ntfyConfigured",
          "ntfyServerUrl",
          "ntfyTopic",
          "ntfyTokenConfigured",
          "maskedNtfyToken",
          "gotifyEnabled",
          "gotifyConfigured",
          "gotifyServerUrl",
          "gotifyTokenConfigured",
          "maskedGotifyToken",
          "webhookEnabled",
          "webhookConfigured",
          "webhookUrl",
          "webhookSecretConfigured",
          "maskedWebhookSecret",
          "taskAssignmentEnabled",
          "taskCommentEnabled",
          "taskStatusChangeEnabled",
          "dueDateReminderEnabled",
          "dueDateReminderLeadTimeMinutes",
          "workspaces",
          "createdAt",
          "updatedAt"
        ]
      },
      "NotificationPreferenceWorkspaceRule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "workspaceId": {
            "type": "string"
          },
          "workspaceName": {
            "type": "string"
          },
          "isActive": {
            "type": "boolean",
            "description": "Turn all notifications for this workspace on or off."
          },
          "emailEnabled": {
            "type": "boolean"
          },
          "ntfyEnabled": {
            "type": "boolean"
          },
          "gotifyEnabled": {
            "type": "boolean"
          },
          "webhookEnabled": {
            "type": "boolean"
          },
          "projectMode": {
            "type": "string",
            "enum": [
              "all",
              "selected"
            ],
            "description": "`all` notifies for every project in the workspace; `selected` restricts it to selectedProjectIds."
          },
          "selectedProjectIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "workspaceId",
          "workspaceName",
          "isActive",
          "emailEnabled",
          "ntfyEnabled",
          "gotifyEnabled",
          "webhookEnabled",
          "projectMode",
          "selectedProjectIds",
          "createdAt",
          "updatedAt"
        ]
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchResult"
            }
          },
          "totalCount": {
            "type": "number",
            "description": "Total matches found before the `limit` slice, so a caller can tell that more exist."
          },
          "searchQuery": {
            "type": "string",
            "description": "The query that was run."
          }
        },
        "required": [
          "results",
          "totalCount",
          "searchQuery"
        ]
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "task",
              "project",
              "workspace",
              "comment",
              "activity"
            ]
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "content": {
            "type": "string",
            "description": "Matched body text, for comment and activity results. Activities get a rendered summary such as `changed status from Todo to In Progress`."
          },
          "projectId": {
            "type": "string"
          },
          "projectName": {
            "type": "string"
          },
          "projectSlug": {
            "type": "string"
          },
          "workspaceId": {
            "type": "string"
          },
          "workspaceName": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "userName": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "relevanceScore": {
            "type": "number",
            "description": "Higher is a better match. Results are sorted by score, then by createdAt descending."
          },
          "taskNumber": {
            "type": "number"
          },
          "priority": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "type",
          "title",
          "createdAt",
          "relevanceScore"
        ]
      },
      "IntegrationSyncPreview": {
        "type": "object",
        "properties": {
          "isActive": {
            "type": "boolean"
          },
          "rules": {
            "type": "object",
            "properties": {
              "outgoing": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "mode": {
                        "type": "string",
                        "enum": [
                          "all"
                        ]
                      }
                    },
                    "required": [
                      "mode"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "mode": {
                        "type": "string",
                        "enum": [
                          "labels"
                        ]
                      },
                      "match": {
                        "type": "string",
                        "enum": [
                          "any",
                          "all"
                        ]
                      },
                      "labels": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 128
                        },
                        "minItems": 1,
                        "maxItems": 50
                      }
                    },
                    "required": [
                      "mode",
                      "match",
                      "labels"
                    ]
                  }
                ],
                "description": "Kaneo workspace label IDs controlling task sync. Missing labels pause sync."
              },
              "incoming": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "mode": {
                        "type": "string",
                        "enum": [
                          "all"
                        ]
                      }
                    },
                    "required": [
                      "mode"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "mode": {
                        "type": "string",
                        "enum": [
                          "labels"
                        ]
                      },
                      "match": {
                        "type": "string",
                        "enum": [
                          "any",
                          "all"
                        ]
                      },
                      "labels": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 128
                        },
                        "minItems": 1,
                        "maxItems": 50
                      }
                    },
                    "required": [
                      "mode",
                      "match",
                      "labels"
                    ]
                  }
                ],
                "description": "Exact repository label names controlling which issues can be imported."
              }
            },
            "required": [
              "outgoing",
              "incoming"
            ]
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "color": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "name",
                "color"
              ]
            }
          },
          "missingLabels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "total": {
            "type": "number"
          },
          "matching": {
            "type": "number"
          },
          "willCreate": {
            "type": "number"
          },
          "willPause": {
            "type": "number"
          },
          "needsReview": {
            "type": "number"
          },
          "paused": {
            "type": "number"
          },
          "matchingTasks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "number": {
                  "type": [
                    "number",
                    "null"
                  ]
                },
                "title": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "number",
                "title"
              ]
            }
          },
          "pausedNextCursor": {
            "type": [
              "string",
              "null"
            ]
          },
          "pausedTasks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "number": {
                  "type": [
                    "number",
                    "null"
                  ]
                },
                "title": {
                  "type": "string"
                },
                "linkId": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                },
                "eligible": {
                  "type": "boolean"
                }
              },
              "required": [
                "id",
                "number",
                "title",
                "linkId",
                "url",
                "eligible"
              ]
            }
          },
          "previewToken": {
            "type": "string"
          }
        },
        "required": [
          "isActive",
          "rules",
          "labels",
          "missingLabels",
          "total",
          "matching",
          "willCreate",
          "willPause",
          "needsReview",
          "paused",
          "matchingTasks",
          "pausedNextCursor",
          "pausedTasks",
          "previewToken"
        ]
      },
      "IntegrationSyncResumePreview": {
        "type": "object",
        "properties": {
          "task": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "number": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "title": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "number",
              "title"
            ]
          },
          "local": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "state": {
                "type": "string",
                "enum": [
                  "open",
                  "closed"
                ]
              }
            },
            "required": [
              "title",
              "description",
              "state"
            ]
          },
          "remote": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "state": {
                "type": "string",
                "enum": [
                  "open",
                  "closed"
                ]
              }
            },
            "required": [
              "title",
              "description",
              "state"
            ]
          },
          "token": {
            "type": "string"
          }
        },
        "required": [
          "task",
          "local",
          "remote",
          "token"
        ]
      },
      "GitHubAppInfo": {
        "type": "object",
        "properties": {
          "accountConnected": {
            "type": "boolean"
          },
          "accountLinkingAvailable": {
            "type": "boolean"
          },
          "appName": {
            "type": [
              "string",
              "null"
            ],
            "description": "The configured GitHub App slug, or null when this instance has no App set up."
          }
        },
        "required": [
          "accountConnected",
          "accountLinkingAvailable",
          "appName"
        ]
      },
      "GitHubRepositoryList": {
        "type": "object",
        "properties": {
          "repositories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GitHubRepository"
            },
            "description": "Deduplicated across installations, most recently updated first."
          },
          "installations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GitHubInstallation"
            }
          },
          "total": {
            "type": "number"
          },
          "nextPage": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "installationPage": {
                "type": "number"
              },
              "repositoryPage": {
                "type": "number"
              }
            },
            "required": [
              "installationPage",
              "repositoryPage"
            ]
          }
        },
        "required": [
          "repositories",
          "installations",
          "total",
          "nextPage"
        ]
      },
      "GitHubRepository": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "name": {
            "type": "string"
          },
          "full_name": {
            "type": "string"
          },
          "private": {
            "type": "boolean"
          },
          "owner": {
            "$ref": "#/components/schemas/GitHubRepositoryOwner"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "html_url": {
            "type": "string"
          },
          "permissions": {
            "$ref": "#/components/schemas/GitHubRepositoryPermissions"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "installation_id": {
            "type": "number",
            "description": "Which App installation this repository came through."
          }
        },
        "required": [
          "id",
          "name",
          "full_name",
          "private",
          "owner",
          "description",
          "html_url",
          "updated_at",
          "installation_id"
        ]
      },
      "GitHubRepositoryOwner": {
        "type": "object",
        "properties": {
          "login": {
            "type": "string"
          },
          "avatar_url": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "required": [
          "login",
          "avatar_url",
          "type"
        ]
      },
      "GitHubRepositoryPermissions": {
        "type": "object",
        "properties": {
          "admin": {
            "type": "boolean"
          },
          "push": {
            "type": "boolean"
          },
          "pull": {
            "type": "boolean"
          }
        },
        "required": [
          "admin",
          "push",
          "pull"
        ]
      },
      "GitHubInstallation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "account": {
            "$ref": "#/components/schemas/GitHubInstallationAccount"
          },
          "repositories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Full names of the repositories under this installation. Empty when listing them failed."
          }
        },
        "required": [
          "id",
          "account",
          "repositories"
        ]
      },
      "GitHubInstallationAccount": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "login": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "required": [
          "login",
          "type"
        ]
      },
      "GitHubVerificationResult": {
        "type": "object",
        "properties": {
          "isInstalled": {
            "type": "boolean"
          },
          "installationId": {
            "type": [
              "number",
              "null"
            ]
          },
          "repositoryExists": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "repositoryPrivate": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "permissions": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "string"
            },
            "description": "The permissions the installation currently grants."
          },
          "hasRequiredPermissions": {
            "type": "boolean"
          },
          "missingPermissions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Permissions that must be granted before the link will work."
          },
          "message": {
            "type": "string",
            "description": "A human-readable summary to show the user."
          },
          "settingsUrl": {
            "type": "string",
            "description": "Where to adjust the installation, when one exists."
          },
          "installationUrl": {
            "type": "string",
            "description": "Where to install the App, when it is not installed yet."
          }
        },
        "required": [
          "isInstalled",
          "installationId",
          "repositoryExists",
          "repositoryPrivate",
          "permissions",
          "hasRequiredPermissions",
          "missingPermissions",
          "message"
        ]
      },
      "GitHubIntegration": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "repositoryOwner": {
            "type": "string"
          },
          "repositoryName": {
            "type": "string"
          },
          "installationId": {
            "type": [
              "number",
              "null"
            ],
            "description": "The GitHub App installation that grants access to the repository."
          },
          "requiresVerification": {
            "type": "boolean"
          },
          "importProgress": {
            "$ref": "#/components/schemas/IssueImportResult"
          },
          "branchPattern": {
            "type": "string",
            "description": "Template used to name branches created for a task."
          },
          "commentTaskLinkOnGitHubIssue": {
            "type": "boolean",
            "description": "When on, Kaneo comments a link back to the task on the linked GitHub issue."
          },
          "isActive": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "projectId",
          "repositoryOwner",
          "repositoryName",
          "installationId",
          "requiresVerification",
          "isActive",
          "createdAt",
          "updatedAt"
        ]
      },
      "IssueImportResult": {
        "type": "object",
        "properties": {
          "runId": {
            "type": "string"
          },
          "pending": {
            "type": "boolean"
          },
          "imported": {
            "type": "number"
          },
          "updated": {
            "type": "number"
          },
          "skipped": {
            "type": "number",
            "description": "Issues whose linked task or source disappeared or belongs to another project."
          }
        },
        "required": [
          "runId",
          "pending",
          "imported",
          "updated",
          "skipped"
        ]
      },
      "CreatedGitHubIntegration": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "repositoryOwner": {
            "type": "string"
          },
          "repositoryName": {
            "type": "string"
          },
          "installationId": {
            "type": [
              "number",
              "null"
            ],
            "description": "The GitHub App installation that grants access to the repository."
          },
          "requiresVerification": {
            "type": "boolean"
          },
          "importProgress": {
            "$ref": "#/components/schemas/IssueImportResult"
          },
          "branchPattern": {
            "type": "string",
            "description": "Template used to name branches created for a task."
          },
          "commentTaskLinkOnGitHubIssue": {
            "type": "boolean",
            "description": "When on, Kaneo comments a link back to the task on the linked GitHub issue."
          },
          "isActive": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "repositoryOwner",
          "repositoryName",
          "installationId",
          "requiresVerification"
        ]
      },
      "GitHubIntegrationNotFound": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "GitHubDeleteResult": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "success",
          "message"
        ]
      },
      "GiteaRepositoryList": {
        "type": "object",
        "properties": {
          "repositories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GiteaRepository"
            }
          }
        },
        "required": [
          "repositories"
        ]
      },
      "GiteaRepository": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "name": {
            "type": "string"
          },
          "full_name": {
            "type": "string"
          },
          "owner": {
            "$ref": "#/components/schemas/GiteaRepositoryOwner"
          },
          "private": {
            "type": "boolean"
          },
          "html_url": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "full_name",
          "owner",
          "private",
          "html_url"
        ]
      },
      "GiteaRepositoryOwner": {
        "type": "object",
        "properties": {
          "login": {
            "type": "string"
          }
        },
        "required": [
          "login"
        ]
      },
      "GiteaVerificationResult": {
        "type": "object",
        "properties": {
          "isInstalled": {
            "type": "boolean"
          },
          "hasRequiredPermissions": {
            "type": "boolean"
          },
          "repositoryExists": {
            "type": "boolean"
          },
          "repositoryPrivate": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "missingPermissions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string",
            "description": "A human-readable summary to show the user."
          },
          "failureReason": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "not_a_gitea_instance",
              "redirected",
              "repository_not_found",
              null
            ],
            "description": "Why verification failed, when it did. `redirected` usually means the base URL is behind a proxy that rewrites it."
          }
        },
        "required": [
          "isInstalled",
          "hasRequiredPermissions",
          "repositoryExists",
          "repositoryPrivate",
          "missingPermissions",
          "message",
          "failureReason"
        ]
      },
      "GiteaIntegration": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "baseUrl": {
            "type": "string",
            "description": "Root URL of the Gitea instance."
          },
          "repositoryOwner": {
            "type": "string"
          },
          "repositoryName": {
            "type": "string"
          },
          "maskedAccessToken": {
            "type": "string"
          },
          "webhookUrl": {
            "type": "string",
            "description": "Where Gitea should POST events for this project."
          },
          "webhookSecret": {
            "type": "string",
            "description": "Only returned to callers with workspace:manage_settings, so the value can be pasted into Gitea."
          },
          "branchPattern": {
            "type": "string"
          },
          "commentTaskLinkOnGiteaIssue": {
            "type": "boolean",
            "description": "When on, Kaneo comments a link back to the task on the linked Gitea issue."
          },
          "isActive": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "projectId",
          "baseUrl",
          "repositoryOwner",
          "repositoryName",
          "maskedAccessToken",
          "isActive",
          "createdAt",
          "updatedAt"
        ]
      },
      "GiteaIntegrationNotFound": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "GiteaDeleteResult": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "success",
          "message"
        ]
      },
      "GiteaImportResult": {
        "type": "object",
        "properties": {
          "imported": {
            "type": "number"
          },
          "updated": {
            "type": "number",
            "description": "Existing tasks that were refreshed from their issue."
          },
          "skipped": {
            "type": "number"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "imported",
          "updated",
          "skipped"
        ]
      },
      "GitlabProjectList": {
        "type": "object",
        "properties": {
          "projects": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GitlabProject"
            }
          }
        },
        "required": [
          "projects"
        ]
      },
      "GitlabProject": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "name": {
            "type": "string"
          },
          "path_with_namespace": {
            "type": "string"
          },
          "name_with_namespace": {
            "type": "string"
          },
          "visibility": {
            "type": "string"
          },
          "web_url": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "path_with_namespace",
          "name_with_namespace",
          "visibility",
          "web_url"
        ]
      },
      "GitlabVerificationResult": {
        "type": "object",
        "properties": {
          "isInstalled": {
            "type": "boolean",
            "description": "The base URL answered as a GitLab instance for this token."
          },
          "hasRequiredPermissions": {
            "type": "boolean"
          },
          "projectExists": {
            "type": "boolean"
          },
          "projectVisibility": {
            "type": [
              "string",
              "null"
            ]
          },
          "missingPermissions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string",
            "description": "A human-readable summary to show the user."
          },
          "failureReason": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "not_a_gitlab_instance",
              "redirected",
              "project_not_found",
              null
            ],
            "description": "Why verification failed, when it did. `redirected` usually means the base URL is behind a proxy that rewrites it."
          }
        },
        "required": [
          "isInstalled",
          "hasRequiredPermissions",
          "projectExists",
          "projectVisibility",
          "missingPermissions",
          "message",
          "failureReason"
        ]
      },
      "GitlabIntegration": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "baseUrl": {
            "type": "string",
            "description": "Root URL of the GitLab instance."
          },
          "projectPath": {
            "type": "string",
            "description": "Full path of the linked project, nested groups included."
          },
          "tokenType": {
            "type": "string",
            "enum": [
              "private",
              "bearer"
            ]
          },
          "maskedAccessToken": {
            "type": "string",
            "description": "First and last characters of the stored token, only returned to callers with workspace:manage_settings."
          },
          "webhookUrl": {
            "type": "string",
            "description": "Where GitLab should POST events for this project."
          },
          "webhookSecret": {
            "type": "string",
            "description": "Only returned to callers with workspace:manage_settings, so the value can be pasted into GitLab."
          },
          "branchPattern": {
            "type": "string"
          },
          "commentTaskLinkOnGitlabIssue": {
            "type": "boolean",
            "description": "When on, Kaneo comments a link back to the task on each issue opened in GitLab. Issues Kaneo creates from tasks are not commented on."
          },
          "isActive": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "projectId",
          "baseUrl",
          "projectPath",
          "tokenType",
          "maskedAccessToken",
          "isActive",
          "createdAt",
          "updatedAt"
        ]
      },
      "GitlabIntegrationNotFound": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "GitlabDeleteResult": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "success",
          "message"
        ]
      },
      "GitlabImportResult": {
        "type": "object",
        "properties": {
          "imported": {
            "type": "number"
          },
          "updated": {
            "type": "number",
            "description": "Existing tasks that were refreshed from their issue."
          },
          "skipped": {
            "type": "number"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "imported",
          "updated",
          "skipped"
        ]
      },
      "GenericWebhookIntegration": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "webhookConfigured": {
            "type": "boolean"
          },
          "maskedWebhookUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "secretConfigured": {
            "type": "boolean"
          },
          "maskedSecret": {
            "type": [
              "string",
              "null"
            ],
            "description": "A preview of the HMAC signing secret used to sign outgoing deliveries."
          },
          "events": {
            "$ref": "#/components/schemas/GenericWebhookEvents"
          },
          "dueDateReminderLeadTimeMinutes": {
            "type": "number",
            "description": "How long before a due date the dueDateReminder event fires, in minutes."
          },
          "isActive": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "projectId",
          "webhookConfigured",
          "maskedWebhookUrl",
          "secretConfigured",
          "maskedSecret",
          "events",
          "dueDateReminderLeadTimeMinutes",
          "isActive",
          "createdAt",
          "updatedAt"
        ]
      },
      "GenericWebhookEvents": {
        "allOf": [
          {
            "$ref": "#/components/schemas/IntegrationEvents"
          },
          {
            "type": "object",
            "properties": {
              "taskDeleted": {
                "type": "boolean"
              },
              "taskMoved": {
                "type": "boolean"
              },
              "taskDueDateChanged": {
                "type": "boolean"
              },
              "taskAssigneeChanged": {
                "type": "boolean"
              },
              "taskUnassigned": {
                "type": "boolean"
              },
              "dueDateReminder": {
                "type": "boolean"
              }
            },
            "required": [
              "taskDeleted",
              "taskMoved",
              "taskDueDateChanged",
              "taskAssigneeChanged",
              "taskUnassigned",
              "dueDateReminder"
            ]
          }
        ]
      },
      "IntegrationEvents": {
        "type": "object",
        "properties": {
          "taskCreated": {
            "type": "boolean"
          },
          "taskStatusChanged": {
            "type": "boolean"
          },
          "taskPriorityChanged": {
            "type": "boolean"
          },
          "taskTitleChanged": {
            "type": "boolean"
          },
          "taskDescriptionChanged": {
            "type": "boolean"
          },
          "taskCommentCreated": {
            "type": "boolean"
          }
        },
        "required": [
          "taskCreated",
          "taskStatusChanged",
          "taskPriorityChanged",
          "taskTitleChanged",
          "taskDescriptionChanged",
          "taskCommentCreated"
        ]
      },
      "DiscordIntegration": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "channelName": {
            "type": [
              "string",
              "null"
            ]
          },
          "webhookConfigured": {
            "type": "boolean"
          },
          "maskedWebhookUrl": {
            "type": "string",
            "description": "The webhook URL with its secret path segment masked, or an empty string when none is set."
          },
          "events": {
            "$ref": "#/components/schemas/IntegrationEvents"
          },
          "isActive": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "projectId",
          "channelName",
          "webhookConfigured",
          "maskedWebhookUrl",
          "events",
          "isActive",
          "createdAt",
          "updatedAt"
        ]
      },
      "MattermostIntegration": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "channelName": {
            "type": [
              "string",
              "null"
            ]
          },
          "webhookConfigured": {
            "type": "boolean"
          },
          "maskedWebhookUrl": {
            "type": "string",
            "description": "The webhook URL with its secret path segment masked, or an empty string when none is set."
          },
          "events": {
            "$ref": "#/components/schemas/IntegrationEvents"
          },
          "isActive": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "projectId",
          "channelName",
          "webhookConfigured",
          "maskedWebhookUrl",
          "events",
          "isActive",
          "createdAt",
          "updatedAt"
        ]
      },
      "SlackIntegration": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "channelName": {
            "type": [
              "string",
              "null"
            ]
          },
          "webhookConfigured": {
            "type": "boolean"
          },
          "maskedWebhookUrl": {
            "type": "string",
            "description": "The webhook URL with its secret path segment masked, or an empty string when none is set."
          },
          "events": {
            "$ref": "#/components/schemas/IntegrationEvents"
          },
          "isActive": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "createdAt": {
[...]
